# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Tuesday 21 January 2014 14:00:20 PM IST 
##############################################################################


#====================================================
# dont ignore PDFs
#====================================================
!*.pdf


#====================================================
# GENERAL
#====================================================
.directory
PRIVATE/*
pvt/*
IGNORE/*

#----------------------------------------------------
# DATA folders
#----------------------------------------------------
**/datum
datum/
datum/**
#----------------------------------------------------
# all zip/tar folders
#----------------------------------------------------
*.zip
*.tar.gz

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp

*.tif
